<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
        http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.9.xsd">

    <!-- https://docs.liquibase.com/change-types/nested-tags/column.html -->

    <changeSet id="{{- .Table.Name -}}_{{- .Date -}}_001"
				author="{{- .Author -}}"
				dbms="{{- .Dialect -}}"
				context="dev,test,stage,prod"
				labels="v{{- .Version -}}">

        <comment>Initialize the table: {{- .Table.Name -}}</comment>

        <createTable tableName="{{- .Table.Name -}}" remarks="{{- .Table.Comment -}}">
            {{ range .Table.Columns }}

            {{- .PrimaryColumn }}
            {{- .BigintColumn -}}

            {{- .TinyIntColumn }}
            {{- .SmallIntColumn }}
            {{- .MediumIntColumn }}
            {{- .IntColumn }}

            {{- .FloatColumn }}
            {{- .DoubleColumn }}

            {{- .DecimalColumn }}

            {{- .CharColumn }}
            {{- .VarcharColumn }}
            {{- .TextColumn }}

            {{- .DateColumn }}
            {{- .TimeColumn }}
            {{- .DatetimeColumn }}

            {{- .TimestampColumn }}
            {{- .UpdateTimestampColumn }}
            {{ end }}
        </createTable>

        {{ if eq .Dialect .MySQL }}
        <modifySql dbms="mysql">
            <replace replace="MODIFY COLUMN update_time timestamp"
                     with="MODIFY COLUMN update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP"/>
        </modifySql>
        {{ end }}
    </changeSet>
</databaseChangeLog>
